<a href="https://colab.research.google.com/github/2jyeon/Programmers/blob/main/lv0_%EC%84%B8%EA%B7%A0%EC%A6%9D%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##문제 설명
어떤 세균은 1시간에 두배만큼 증식한다고 합니다. 처음 세균의 마리수 n과 경과한 시간 t가 매개변수로 주어질 때 t시간 후 세균의 수를 return하도록 solution 함수를 완성해주세요.

##제한사항
1 ≤ n ≤ 10  
1 ≤ t ≤ 15

## 풀이1

In [ ]:
def solution(n, t):
    i = 1
    tmp = n
    while i <= t:
        tmp = tmp * 2
        i += 1
    return tmp

##풀이2
반복문말고 그냥 식으로 짜면 끝날 것 같아서 다시 생각해보니  
((n\*2)\*2)\*2 ... 이런 식으로 t번 반복하는 거니까 결국  
n * (2^t) 와 같다.

In [ ]:
def solution(n, t):
    return n * (2**t)

## 다른 사람 풀이

In [ ]:
def solution(n, t):
    return n << t